* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Header Styling */
header {
  border-bottom: 1px solid #D3D3D3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.header-content .logo {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.header-content .logo i {
  color: #66CCFF;
}

.header-content .contact-info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: #3333CC;
  font-weight: 600;
}

.header-content .contact-info a {
  text-decoration: none;
  color: #3333CC;
}

/* Footer Styling */
footer .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .footer-links a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

footer .footer-content {
  background-color: #E8E8E8;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .footer-content p {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 19px;
}

footer .footer-content p:not(:last-child) {
  padding-bottom: 20px;
}

/* Other */
.btn-submit {
  position: relative;
  padding: 16px 50px;
  border: none;
  border-radius: 8px;
  min-width: 240px;
  color: #fff;
  background-color: #3366FF;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.btn-submit svg {
  position: absolute;
  margin-left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-submit:disabled {
  background-color: #3366FF85;
}